.env
**/main
json/json.txt
whisper/przesluchania/
maps/maps.jpg
robotid/robotid.json
formats/pliki/
arxiv/*/*
arxiv/system_prompt.txt
documents/*/*
vectors/*/*
loop/barbara.txt
connections/*.json
photos/cache/*
research/lab_data/*
softo/*.json
webhook/*.txt
notes/*.pdf
notes/*.jpg
notes/*.png
notes/*.txt